# Terraform
.terraform/
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfplan
*plan*.out
plan.json
terraform.tfvars
.terraform.tfvars
.auto.tfvars
.auto.tfvars.json
.terraform.lock.hcl.backup
terraform.lock.hcl
.terraform.lock.hcl
.tfvars.json

# Overrides
.override.tf
.override.tf.json
*_override.tf
*_override.tf.json

# Secrets and env
.env
.env.*
*.pem
*.key
*.p12
*.pfx
*.crt
*.cer
*.der

# Logs
*.log
log/

# OS and editor
.DS_Store
.vscode/
.idea/
*.swp
*.swo
*~
Thumbs.db
